#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  -ms-transform: rotate(0.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Line_7 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(270.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Line_7 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(270.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Line_8 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(270.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Line_8 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(270.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Line_9 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #6DFD30;
  -ms-transform: rotate(270.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Line_9 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #6DFD30;
  -ms-transform: rotate(270.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Line_10 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #FC361D;
  -ms-transform: rotate(92.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Line_10 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #FC361D;
  -ms-transform: rotate(92.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Line_11 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(180.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Line_11 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(180.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Line_12 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(92.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Line_12 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(92.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Button_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 77px;
  height: 25px;
  -ms-transform: rotate(0.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Line_13 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(93.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Line_13 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(93.0deg);
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1a6cfcd5-890f-4f9a-8f5a-439ae12b5dc7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}