#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Empty-Screen {
  border-collapse: separate;
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Label_425 {
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Label_434 {
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Ellipse_69 {
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Ellipse_70 {
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Ellipse_71 {
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Ellipse_72 {
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Label_451 {
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Label_74 {
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 136px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 163px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 365px;
  height: 57px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 365px;
  height: 57px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 365px;
  height: 57px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 365px;
  height: 57px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6db7455e-7022-4acd-955d-2635296ba6e0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}