#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Label_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Label_425 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Label_434 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Ellipse_69 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Ellipse_70 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Ellipse_71 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Ellipse_72 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Label_451 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Label_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ca9d7ae2-5a4d-447f-8621-b6697671f533 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}